<!-- #wrapper -->
<div id="wrapper">
  <!-- .page-sidebar -->
  <aside id="sidebar" class="page-sidebar hidden-md hidden-sm hidden-xs">
    <!-- Start .sidebar-inner -->
    <div class="sidebar-inner">
      <!-- Start .sidebar-scrollarea -->
      <div class="sidebar-scrollarea">
        <!--  .sidebar-panel -->
        <div class="sidebar-panel">
          <h5 class="sidebar-panel-title">Profile</h5>
        </div>
        <!-- / .sidebar-panel -->
        <div class="user-info clearfix">
          <img src="img/avatars/128.jpg" alt="avatar">
          <span class="name">SuggeElson</span>
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-xs"><i class="l-basic-gear"></i>
            </button>
            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">settings <span class="caret"></span>
            </button>
            <ul class="dropdown-menu right" role="menu">
              <li><a href="profile.html"><i class="fa fa-edit"></i>Edit profile</a>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to raw("<i class=\"fa fa-power-off\"></i>Logout"), log_out_path %>
              </li>
            </ul>
          </div>
        </div>
        <!--  .sidebar-panel -->
        <div class="sidebar-panel">
          <h5 class="sidebar-panel-title">Navigation</h5>
        </div>
        <!-- / .sidebar-panel -->
        <!-- .side-nav -->
        <div class="side-nav">
          <ul class="nav">
            <li><a href="#"><i class="l-basic-laptop"></i><span class="txt">Панель управления</span></a>
            </li>
            <li>
              <a href="#"><i class="l-ecommerce-graph1"></i> <span class="txt">Графики</span></a>
              <ul class="sub">
                <li><a href="charts-flot.html"><span class="txt">График 1</span></a>
                </li>
                <li><a href="charts-morris.html"><span class="txt">График 2</span></a>
                </li>
                <li><a href="charts-chartjs.html"><span class="txt">График 3</span></a>
                </li>
              </ul>
            </li>
            <li>
              <%= link_to raw("<i class=\"l-basic-webpage-txt\"></i><span class=\"txt\">Протоколы</span>"), protocols_url %>
            </li>
            <li>
              <%= link_to raw("<i class=\"l-software-layout-header-3columns\"></i><span class=\"txt\">Заказчики</span>"), customers_url %>
            </li>
          </ul>
        </div>
        <!-- / side-nav -->
        <!--  .sidebar-panel -->
      </div>
      <!-- End .sidebar-scrollarea -->
    </div>
    <!-- End .sidebar-inner -->
  </aside>
  <!-- / page-sidebar -->
  <!-- .page-content -->
  <div class="page-content sidebar-page right-sidebar-page clearfix">
    <!-- .page-content-wrapper -->
    <div class="page-content-wrapper">
      <div class="page-content-inner">
        <!-- Start .page-content-inner -->
        <!-- Start .row -->
        <div class="row">
          <div class="col-lg-12">
            <!-- col-lg-12 start here -->
            <div class="panel panel-default plain toggle panelMove panelClose panelRefresh">
              <!-- Start .panel -->
              <div class="panel-body">
                <%= capture(&block) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  </div>
  <!-- / page-content -->
</div>
<!-- / #wrapper -->